{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid mt-1">
    <img src="{% static 'images/banner1.jpg' %}" height="700px" width="100%">
</div>
<div class="container-fluid">
    <h2><center>COLLECTIONS</center></h2>
    <p style="color:black;">In publishing and graphic design, Lorem ipsum (/ˌlɔː.rəm ˈɪp.səm/) is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before the final copy is available. It is also used to temporarily replace text in a process called greeking, which allows designers to consider the form of a webpage or publication, without the meaning of the text influencing the design.</p>
</div>
<div class="container-fluid" style="margin-bottom:100px;">
    <div class="row">
        {% for i in c %}
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
  <img src="{{i.image.url}}" height="300px" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{i.name}}</h5>
    <a href="{% url 'shop:products' i.id %}" class="btn btn-primary">MORE DETAILS</a>
  </div>
</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}